﻿/*
Theme Name: Betheme
Author: Muffin group
Description: The biggest WordPress Theme ever
Theme URI: http://themes.muffingroup.com/betheme
Author URI: http://muffingroup.com
License: Themeforest Split Licence
License URI: -
Version: 16.0.1

All css files are placed in /css/ folder
*/

/*UFER CUSTOM CSS*/
.odemeler div#payment .tab a img {
    position: absolute!important;
    left: 255px!important;
    margin: -1px 0 0 3px!important;
}
/*UFER 10.03.2018*/
@media screen and (min-width: 1900px) and (max-width: 1950px) {
div#Action_bar li.slogan {
    padding: 11px 360px 11px 330px!important;
}
}
.badabada .product.type-product.status-publish.has-post-thumbnail.product_cat-bedava-kargo .image_wrapper:before {
    content: "ÜCRETSİZ KARGO";
    background: #e43f87;
    color: #fff;
    padding: 12px 0 12px 0px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    width: 100%;
    left:0px !important
    z-index: 1;
    left: -22px !important;
    position: absolute;
}

/*MAD 13.12.2017*/
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1{padding:20px 25px 0 20px!important;}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{float:left;width:51%;padding: 0 25px;}
.woocommerce .col2-set, .woocommerce-page .col2-set{width:100%!important;}
#order_review{float: right;width:40%!important;/*margin-top:-743px;*/}
table.shop_table.woocommerce-checkout-review-order-table{float:right;width:100%!important;margin-top:0!important;}
div#payment{width:100%!important;margin-top:50px!important;}
.woocommerce-billing-fields{text-align: center;}
.woocommerce-billing-fields h3{margin: 5px 0 15px 0;position: relative;font-weight:bold;
padding: 0 20px;
background: #fcfcfc;
display: inline-block;
color:#000!important;
}
.woocommerce-billing-fields::before {
content: "";
width: 50%;
height: 8px;
margin: 15px 0 0;
    margin-top: 15px;
background: #f6f6f6;
position: absolute;
display: block !important;
}
.woocommerce-billing-fields h3:before {content:""!important;}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1{background: none!important;}
.woocommerce-billing-fields__field-wrapper{text-align: left;}
#billing_first_name_field,#billing_last_name_field,#billing_company_field,#billing_country_field,
#billing_address_1_field,#billing_address_2_field,#billing_postcode_field,#billing_city_field,
#billing_state_field,#billing_phone_field,#billing_email_field{display: none!important;}
h3#ship-to-different-address label span{color:#000;font-size:15px;}
#ship-to-different-address{width:calc( 100% - 20px);padding:5px 10px;border:solid 1px #DEDEDE;box-shadow: 0 1px 1px rgba(80, 80, 80, 0.1);border-radius: 2px;}
.barss{overflow:hidden;width:51%;margin: 0;padding:20px 25px 20px 25px;background: none;position: relative;text-align: center;height: auto;border: none;}
.barss::before{content: "";
width: 100%;
height: 8px;
margin: 15px 0 0;
    margin-top: 15px;
background: #f6f6f6;
position: absolute;
display: block !important;z-index:1;}
.barss h3{font-weight:bold;position:relative;z-index:2;margin:3px 0 0;color:#000;padding: 0 20px;background: #fcfcfc;display: inline-block;}
.kargolar{float:left;width:53%;margin:20px 25px 20px 25px;border:1px solid #dedede;box-shadow: 0 1px 1px rgba(80, 80, 80, 0.1);border-radius: 2px;}
.kargolar p{padding:10px;margin:0;}
.kargolar p b{font-weight: bold;}
.odemeler{float:left;width:53%;padding:20px 25px 20px 25px;}
#wcmca_add_new_address_button_billing,#wcmca_add_new_address_button_shipping{text-align:center;width: calc( 100% - 20px);padding:10px;border:1px solid #dedede;background-color: #fcfcfc!important;margin-top:10px;}
#wcmca_billing_company_field{float:left;width:100%;}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea{color:#ddd!important;}
.column.mcb-column.three-fifth.column_column.uyelikform.column-margin- > input[type="date"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, select:focus, textarea:focus{
	color:#000!important;font-weight: normal!important;
}
#wcmca_address_select_menu_billing, #wcmca_address_select_menu_shipping{color:#000;width: 100%;border-radius: 0;}
.select2-container--default .select2-selection--single{border-radius:0!important;}
#payment_method_cod{float:left;width:20%;}
.woocommerce-checkout #payment div.payment_box::before{border:0;}
.odemeler #payment{background: none!important;border-radius: 0!important;border:1px solid #dedede;}
.woocommerce-checkout{margin-bottom:30px;}
#tab {padding: 15px;width:calc( 100% - 30px);}
.tab {margin-bottom: 15px}
.tab a {padding: 10px 20px;display: inline-block;font-size: 14px;
font-weight: bold;text-decoration: none;color: #111;margin-right: 5px;border-bottom:3px solid #ddd;}
.tab a.aktif {border-bottom:3px solid #000;}
.tabContent {padding: 10px;float:left;width:calc( 100% - 20px);}
#payment .form-row{float:left;width:100%;text-align: center;}
#payment .form-row input#place_order{float:none;width:30%;margin:0 auto!important;}
.odemeler #payment{margin-top:2px!important;}
.woocommerce table.shop_table{border-radius:0!important;border:solid 1px #e0e0e0!important;}
table.shop_table.woocommerce-checkout-review-order-table tr > th:first-child{border-radius:0!important;padding:0 !important}
table.shop_table.woocommerce-checkout-review-order-table tr > th:last-child{border-radius:0!important;}
table.shop_table.woocommerce-checkout-review-order-table tr > th{background: none!important;color:#000!important;}
table.shop_table.woocommerce-checkout-review-order-table{background: #f8f8f8!important;border:1px solid #e0e0e0;border-radius: 2px;}
table.shop_table.woocommerce-checkout-review-order-table .cart_item .thumbnail{float:left;width:75px;}
.woocommerce .shop_table .product-name{width:calc( 100% - 22px);padding:0!important;font-size:14px!important;color:#000!important;}
.woocommerce .shop_table .product-quantity{float:left;width:100%!important;padding:0!important;font-size:10px!important;color:#000!important;}
.woocommerce .shop_table .sepetfiyat{float:left;width:100%;padding:0!important;}
.woocommerce table.shop_table span.woocommerce-Price-amount.amount{font-size:14px!important;font-weight:bold;color:#000!important;}
#customer_details table.shop_table.woocommerce-checkout-review-order-table tr.order-total th{color:#000!important;}
#customer_details table.shop_table.woocommerce-checkout-review-order-table tr.order-total td strong span{color:#000!important;font-size:23px!important;}

.sepetbuton{width:90%;margin:5px auto;float:left!important;padding:10px 20px;color:#fff;background: #b0b6c0;border:1px solid #b0b6c0;border-radius:25px;font-size:14px;text-align:center;}

.cart-subtotal{display:none!important;}